.carousel-item {
  height: 500px;
  width: 700px;
}
nav{
  position: sticky;
}
.container{
  text-align: center !important;
  margin: 0 !important;
  position: relative !important;
  margin-left: 200px !important;
  margin-right: 200px !important;
}

.container{
    margin-left: 0 !important;

}
.button{
  text-align: center;
}
.mainbody{
  text-align: center!important;
  margin: 0 !important;
  margin-left: 100px!important;
}
.row{
  text-align: center;
  border-radius: 25px !important;
  border-color: grey !important;
  -webkit-box-shadow: -1px 0px 21px 9px rgba(0,0,0,0.57);
-moz-box-shadow: -1px 0px 21px 9px rgba(0,0,0,0.57);
box-shadow: -1px 0px 21px 9px rgba(0,0,0,0.57);
padding: 30px;
height: 500px !important;
 width: 900px !important;
 background-color: white !important;
 margin-left: auto!important;
 margin-right: auto !important;
}
@media (max-width:991px) {

  .mainbody{

    text-align:center !important;

  }
  @media screen and (max-width: 500px) {
  .row {
    float: none ;
    display: block ;
    text-align: left ;
  }

}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
